Package: porthound
Version: 4.0-1
Section: utils
Priority: optional
Architecture: all
Maintainer: jorgelsc-dev <jorgelsc-dev@example.com>
Depends: python3
Homepage: https://github.com/jorgelsc-dev/porthound
Description: PortHound - Network scanning and service detection tool
 PortHound is a professional cybersecurity tool that facilitates network auditing
 through port scanning and service identification.
 It is ideal for penetration testing and corporate network analysis.
